.header {
   padding: 30px 0 0;
   background-color: #fdfdfe;
   background: url(../img/bg/header.png) bottom/contain no-repeat;

   &__top {
      display: flex;
      align-items: center;
   }

   &__nav {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-self: center;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      margin: 0 3%;
   }

   &__menu {
      padding: 0 5px;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);

      &::-webkit-scrollbar {
         width: 0;
         height: 0;
      }
   }

   &__link {
      line-height: 2em;
      display: inline-block;
      width: max-content;
      color: var(--basic-col);
      margin: 0 15px;
   }

   &__btn_top {
      flex-shrink: 0;
   }

   &__body {
      // min-height: 840px;
      padding: 0 6%;
      position: relative;

      // @media (max-width: 768px) {
      //    padding: ;
      // }
   }

   &__btn_body {
      margin: 0 20px 20px 0;
   }

   &__content {
      padding: 230px 0;
      max-width: 530px;

      @media (max-width: 768px) {
         padding: 150px 0;
      }

      @media (max-width: 568px) {
         padding: 100px 0;
      }
   }

   &__caption {
      font-size: 18px;
      display: inline-block;
      padding-right: 40px;
      background-color: #e2eaed;
      border-radius: 1.5em;
      margin-bottom: 20px;

      i {
         padding: .5em .6em;
         background-color: var(--logo-col);
         border-radius: 50%;
         color: #fff;
      }

      @media (max-width: 568px) {
         font-size: 12px;
      }
   }

   &__title {
      color: var(--basic-col);
      font-size: 60px;
      font-weight: 600;
      line-height: 1.25em;
      margin-bottom: 30px;

      @media (max-width: 768px) {
         font-size: 42px;
      }

      @media (max-width: 568px) {
         font-size: 32px;
      }
   }

   &__text {
      font-size: 18px;
      margin-bottom: 35px;
      line-height: 1.5em;
   }

   &__video {
      display: inline-block;
      color: var(--btn-col);
   }

   &__image {
      height: 90%;
      position: absolute;
      left: 700px;
      top: 5%;

      img {
         height: 100%;
         width: auto;
      }
   }

   .container {
      background: url(../img/bg/header3.svg) right / 90% no-repeat, url(../img/bg/header2.png) 5px 55% / 49% no-repeat,
   }
}